<div class="card text-center">
    <!-- <div class="card-header">
        Featured
    </div> -->
    <br>
    <br>
    <div class="card-body">
        <div class="card mb-3" style="max-width: 640px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../assets/rr.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">Projected Gap $480/MO
                        </h4><br>
                        <h4>Projected Retirement Savings Income $2,657/MO
                        </h4>
                        <p class="card-text">Retirement Income target after Taxes $2,657/MO
                        </p>
                        <button type="button" class="btn btn-primary">Create Account</button>
                        <button type="button" class="btn btn-success">Existing Accounts</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
