.violet-background{
    display: block;
    /* background-color: #512DA8; */
    background-image: linear-gradient(to bottom,#0f6a31,#194b81 );
    height: 100vh;
    width: 100vw;
    
}
.code-color{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
    
   
}

.Container{
    color:white;
    font-size: xx-large;
    font-family: Segoe Print;
    margin-left: 1%;
}
.Text{
    color:white;
    font-size: large;
    font-family: bahnschrift;
}
.bg-image img{

    height:260px;
    max-width:100%;
    border: 2px;
    border-radius: 10px;

}
.text-center {
    width: auto;
    height: 20px;
   
}
.dark-blue-footer {

    background-color: darkblue;
  
    color: #fff; /* White text color */
  
    padding: 20px; /* Adjust the padding to your preference */
  
    text-align: center;
  
   }
   .image{
    width: 100%;
   }