<div class ="violet-background">
    <img class="image" src="../assets/logo3.jpg">
    <!-- <br>
    <br>
    
    <code class="code-color">
    <h1 align="center">RetireSmart</h1>
    <br><br> -->
    <div class="bg-image">
        <img src="../assets/bg.png" alt="">
    </div>
    <!-- </code> -->
<br>
<br>

<div class="Container">
    <h3 align="center">Start early and Retire Peacefully</h3>
</div>
<br>

<div class="Text">
    <h3 align="center">Your future can be bright !</h3>
</div>
<br>
<br>
<div class="text-center">
    <button type="button" class="btn btn-success" (click)="onClick()" style="width: 50%;">Let's Start</button>
 </div>

 <br>
 <!-- <footer class="dark-blue-footer">

    Your footer content here
  
    <h6>&copy; 2023 RetireSmart. All rights reserved.</h6>
  
    </footer> -->